@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #0bc181;
}

#column-2 {
  background: #0ed758;
}

#column-3 {
  background: #47f4b7;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #570629;
  }

  .col-3 {
    width: 50%;
  }

  #column-1 {
    background-color: #86093f;
  }

  #column-2 {
    background-color: #ac0d52;
  }

  #column-3 {
    background-color: #d81368;
    width: 100%;
  }

  footer {
    background-color: #ff1d7f;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #1dddff;
  }

  .col-3 {
    width: 33.33%;
  }

  #column-1 {
    background-color: #16bad7;
  }

  #column-2 {
    background-color: #139eb6;
  }

  #column-3 {
    background-color: #0f8094;
    width: 33.3%;
  }

  footer {
    background-color: #0b5f6d;
  }

}